# === Configuration TerrangaFood ===

# MongoDB — URI de connexion
# Option 1 : MongoDB local
# MONGODB_URI=mongodb://localhost:27017/terrangafood
# Option 2 : MongoDB Atlas (remplacez par vos identifiants)
MONGODB_URI=mongodb+srv://diarra68:passer123@cluster0.vy6ejnn.mongodb.net/?appName=Cluster0

# Port de l'API Express
PORT=3001

# URL de l'API (utilisée par le frontend)
NEXT_PUBLIC_API_URL=http://localhost:3001/api
